body {
  background: #fff8ef;
}
.housing h1{
  padding: 0;
  margin: 0 0 15px 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: black;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5), 0px -1px 0px rgba(0,0,0,.9);

}

button {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:25px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
button:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}
.buttonClean{
background-image: url('.images/buttons/noun_16560_cc.png');
}
.buttonExercise{

}
.buttonFeed{
background-image: url('.images/buttons/noun_16557_cc.png');
width:40px;
height:40px;
}

img{
  user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
#foodstat {
  position: relative;
  top: -10px;
  left: -210px;
  display: inline;
  size: 170%;
}
#exerciseStat{
  position: relative;
  top: -55px;
  left: 60px;
  display: inline;
  size: 130%;

}
.incubating{
  border-radius: 10px;
}

.bevvel{
  position: relative;
  top: 0px;
  width: 400px;
  background-color: grey;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 18px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    inset 0px 0px 18px 0px rgba(50, 50, 50, 1);
box-shadow:         inset 0px 0px 18px 0px rgba(50, 50, 50, 1);
}

.housing{
display: absolute;
width: 400px;
height: 450px;
background: #ced7e8; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin: 0 auto;
text-align: center;
vertical-align: middle;
padding: 15px;
border-radius: 15px;
border-right: 2px solid black;
 border-bottom: 2px solid black;
 border-left: 2px solid grey;
 border-top: 2px solid grey;
}
.comments{
  list-style: none;
  width: 400px;
  text-align: justify;
  margin: 0 auto;
}

body{
  background-color: #fff8ef;
}
.avatars{
  position: absolute;
  top: -200px;

}

#poo1{
  position: relative;
  top: -1px;
  left: 29px;
  z-index: 1;
  visibility: hidden;
  display: inline;
}
#poo2{
  position: relative;
  top: 19px;
  left: 48px;
  z-index: 1;
  visibility: hidden;
    display: inline;
}
#poo3{
  position: relative;
  top: 20px;
  left: 73px;
  z-index: 1;
  visibility: hidden;
    display: inline;
}
.buttonInputs{
  margin: 10px 0;
}
.screen.living p{
  padding: 5px;
  margin: 0 auto;
  text-align: left;
}
input[type=submit] {
  position:relative !important;
  left:-50px !important;
  top:0px !important;
  }
.characterCounter{
  margin: 0 60px;
  text-align: center;
}
textarea{
  border-radius: 10px;
}
.avatar{
  position: relative;
  top: 215px;
  left: 20px;
}

.living {
  background-image: url('../images/cartoon_natural_landscape_vector_278572.jpg');
}

.death {
  background-image: url('../gifs/chick_death.gif');
}

.start {
  background-image: url('../gifs/chick/eggincubating2.gif');
}

.screen{
  position: relative;
  top: 0px;
  height: 256px;
  width: 256px;
  background-color: none;
  /*background-image: url('../images/cartoon_natural_landscape_vector_278572.jpg');*/
  /*background-image: url('../gifs/chick/eggincubating2.gif');*/
  background-size: 256px 256px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  box-shadow: inset 1px -1px 20px -1px #000000;
-webkit-box-shadow: inset 1px -1px 20px -1px #000000;
-moz-box-shadow: inset 1px -1px 20px -1px #000000;
-o-box-shadow: inset 1px -1px 20px -1px #000000;

}
/*
.data{
  display: inline-block;
  float: left;
  position: relative;
  top: -300px;
}

header{
  height: 50px;
}

.email{
  padding: 10px;
}

.casing{
  position: relative;
  height: 440px;
  width: 350px;
  background-color: grey;
  background-image: url('../images/brushsteel2.jpg');
  background-size:100%;
  margin: 0 auto;
  padding: 17px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.controls{
  padding: 20px 0;
}*/
